/* This is built with pure css  */
body{
    background-image: url(/images/radioFemale.jpg);
    background-color: #191101;
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
}
.container{
    display: grid;
    background-color: #202124;
    grid-template-columns: 50px auto;
    font-family: 'Cabin', sans-serif;
}
nav a{
    text-decoration: none;
    padding: 10px;
    font-size: 30px;
    text-align: center;
    color: white;
}
.material-icons{
    font-size: 24px;
}