/* This is built with pure css  */
body{
    background-image: url(images/headphonesbgo.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    font-family: "Cabin", sans-serif;
}

header {
    /* background: #612958; */
    background: #924987;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.4);
}

.wrapper {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

/* Navigation */

.main-nav {
    display: flex;
    padding: 0;
    margin: 0;
    height: 60px;
    align-items: center;
}

.main-nav li {
    list-style: none;
}
.main-nav li:first-child {
    margin-right: auto;
}
.main-nav .nav-links {
    color: white;
    display: block;
    border-radius: 4px;
    padding: 10px 10px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 800;
    position: relative;
}

.nav-links:hover{
    color: #B0C4DD;
    border-color: #fff;
}
.logo{
    font-family: "Cabin Sketch", cursive;
    font-size: 40px;
}

/* Player Controls */
#player-section{
    text-align: center;
}
.player {
    position: relative;
    display: flex;
    background-color: #fff;
    border-radius: 5px;
    width: 400px;
    height: 100px;
    z-index: 5;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.4);
    margin: 20px auto;
    padding: 8px;
}

.now-playing{
    display: block;
    background-image: url(images/random-cover.jpg);
    background-size: cover;
    width: 90px;
}

.player-controls {
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

.prev, 
.play,
.pause, 
.next {
    width: 80px;
    height: 80px;
    border-radius: 5px;
    background-position: center center;
    background-repeat: no-repeat;
    margin: auto 4px;
    cursor: pointer;
    transition: background-image .3s ease;
    -webkit-transition: background-image .3s ease;
}

.play:hover,
.pause:hover {
    transition: background-size .3s ease;
    -webkit-transition: background-size .3s ease;
    background-size: 65px;
}
.prev:hover, 
.next:hover {
    transition: background-size .3s ease;
    -webkit-transition: background-size .3s ease;
    background-size: 55px;
}
.prev {
    background-image: url(images/skip-back-icon.png);
    background-size: 50px;
}
.play {
    background-image: url(images/play-icon.png);
    background-size: 60px;
}
.pause {
    background-image: url(images/pause-icon.png);
    background-size: 60px;
    display: none;
}
.next{
    background-image: url(images/skip-forward-icon.png);
    background-size: 50px;
}
/* Cards */
.card {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.4);
    transition: 0.3s;
    width: 180px;
    height: 200px;
    border-radius: 5px;
    margin: 10px;
    background: oldlace;
}

.card:hover {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.card img {
    width: 100%;
    height: 80%;
    border-radius: 5px 5px 0 0;
}

.card-info {
    padding: 5px 10px;
}

.card-info h3 {
    margin: 0;
    font-size: 16px;
}

/* flexbox for displaying the cards */
.flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

section {
    margin: 20px 0;
}
section h2{
    margin: 5px 0;
    font-family: "Cabin Sketch", cursive;
    color: #fff;
    font-size: 32px;
}
/* Station & Playlist Section */


/* Footer */
footer{
    text-align: center;
    background: #924987;
    color: white;
    height: 60px;
    padding: 10px 0;
}

footer a {
    text-decoration: none;
}

footer p {
    margin: 8px 0;
}